@import "base";
@import "overlay";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin gradient($color) {
    $color2: $color;
    $color3: darken($color,2%);
    $color1: lighten($color,10%);

    background: radial-gradient(ellipse at center,
        $color1 0%,$color2 55%,$color3 100%);
}

@mixin background($image) {
    background: {
        image: $image;
        repeat: no-repeat;
        position: center;
    }
}

header {
    height: 38px;
    background-color: $c_c3;
    border-bottom: 1px solid $c_c3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    color: #ffffff;
    div.left {
        float: left;
        margin-top: 5px;
        margin-left: 8px;
    }
    div.right {
        float: right;
        margin-top: 5px;
        margin-right: 8px;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.65rem;
        text-align: center;
    }
    a {
        cursor: pointer;
    }
}

nav.pushy {
    font-size: 1.3rem;
    box-sizing: border-box;
    ul {
        margin: 0;
        padding: 0;
        li {
            a {
                padding: 0.5rem 0.5rem;
            }
        }
    }
}

#control {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 5%;

    #vertical {
        @include flex(column);
        height: 100%;
        #horizontal {
            @include flex(row);
            justify-content: space-between;
            width: 100%;
        }
    }
    .fa {
        font-size: 8.0rem;
        color: $c_c3;
        cursor: pointer;
    }
}

