@import "base";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin gradient($color) {
    $color2: $color;
    $color3: darken($color,2%);
    $color1: lighten($color,10%);

    background: radial-gradient(ellipse at center,
        $color1 0%,$color2 55%,$color3 100%);
}

@mixin background($image) {
    background: {
        image: $image;
        repeat: no-repeat;
        position: center;
    }
}

#control {
    margin: 5vh 5vw;
    width: 90vw;
    height: 90vh;

    #vertical {
        @include flex(column);
        height: 100%;
        #horizontal {
            @include flex(row);
            justify-content: space-between;
            width: 100%;
        }
    }
    div.button {
        cursor: pointer;
        width: 30vw;
        height: 30vh;
        box-sizing: border-box;
        /*border: 0.1rem solid $c_c1;*/
        /*border-radius: 1rem;*/
        /*box-shadow: 0rem 0.05rem 0.25rem #000000;*/
        /*@include gradient($c_c5);*/
    }
    div.up {   @include background(url(/images/upload82.svg)); }
    div.down { @include background(url(/images/down53.svg)); }
    div.next { @include background(url(/images/right133.svg)); }
    div.prev { @include background(url(/images/back36.svg)); }
}

