// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

$color1: #0cc0cc;

#wrapper {
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    margin-left: 25vw;

    h1 {
        text-align: center;
    }

    ul {
        list-style: none;
        li {
            a {
                color: $color1;
                text-decoration: none;
                &:hover {
                    color: darken($color1, 20%);
                }
            }
        }
    }
}

