@import "base";

@mixin link {
    a {
        color: $c_gray;
        text-decoration: none;
        &:hover {
            background-color: $c_c5;
        }
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 95vh;

    >section {
        max-width: 480px;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

        h1 {
            text-align: center;
            margin-top: 0;
            color: $c_c1;
        }

        p {
            padding: 0 0.3rem;
        }
        p, li {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }

        ol { li { @include link; }}
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;

    ul {
        list-style: none;
        li {
            float: left;
            @include link;
            a {
                font-size: 0.95rem;
                padding: 0 0.5rem;
                color: $c_c2;
            }
        }
    }
}

