/** PALETTE **/

$c_gray: #303030;

/* forever in Paris */
/* http://www.colourlovers.com/palette/3421154/forever_in_Paris */
$c_c1: #BB7D6E; /*187,125,110*/
$c_c2: #864450; /*134,68,80*/
$c_c3: #D49E6F; /*212,158,111*/
$c_c4: #EBC48B; /*235,196,139*/
$c_c5: #F9E2AC; /*249,226,172*/

